# Data Wrangling Template

## Gather

In [1]:
from bs4 import BeautifulSoup
import os
import pandas as pd

In [2]:
df = pd.read_csv('bestofrt.tsv',sep='\t')

In [3]:
df.head()

   ranking  critic_score                      title  number_of_critic_ratings
0        1            99    The Wizard of Oz (1939)                       110
1        2           100        Citizen Kane (1941)                        75
2        3           100       The Third Man (1949)                        77
3        4            99             Get Out (2017)                       282
4        5            97  Mad Max: Fury Road (2015)                       370

In [4]:
#import zipfile

In [5]:
#with zipfile.ZipFile('rt-html.zip', 'r') as myzip:
    #myzip.extractall()

In [28]:
with open('rt_html/12_years_a_slave.html') as file:
    soup = BeautifulSoup(file, "lxml")

In [32]:
#BeautifulSoup
# List of dictionaries to build file by file and later convert to a DataFrame
df_list = []
folder = 'rt_html'
for movie_html in os.listdir(folder):
    with open(os.path.join(folder, movie_html)) as file:
        # Your code here
        soup = BeautifulSoup(file)
        print(soup)
        break
        title = soup.find('title').contents[0][:-len(' - Rotten Tomatoes')]
        audience_score = soup.find('div', class_='audience-score meter').find('span').contents[0][:-1]
        num_audience_ratings = soup.find('div', class_='audience-info').find_all('div')[-1].contents[-1].split()[0].replace(',','')
        # Note: a correct implementation may take ~15 seconds to run
        
        
        # Append to list of dictionaries
        df_list.append({'title': title,
                        'audience_score': int(audience_score),
                        'number_of_audience_ratings': int(num_audience_ratings)})
df = pd.DataFrame(df_list, columns = ['title', 'audience_score', 'number_of_audience_ratings'])

UnicodeDecodeError: 'utf-8' codec can't decode byte 0x86 in position 27: invalid start byte

Solution Test to check if code is correct:

In [ ]:
df_solution = pd.read_pickle('df_solution.pkl')
df.sort_values('title', inplace = True)
df.reset_index(inplace = True, drop = True)
df_solution.sort_values('title', inplace = True)
df_solution.reset_index(inplace = True, drop = True)
pd.testing.assert_frame_equal(df, df_solution)

In [12]:
df_new = pd.read_csv('rt_html.csv')
df_new.drop('Unnamed: 0', axis=1, inplace=True)

In [13]:
df_new

,title,audience_score,number_of_audience_ratings
0,A Hard Day's Night (1964),89,50067
1,Logan (2017),91,86540
2,Rosemary's Baby (1968),87,72669
3,On the Waterfront (1954),95,51664
4,Open City (1946),92,6128
5,Arrival (2016),82,78740
6,Seven Samurai (Shichinin no Samurai) (1956),97,90049
7,Toy Story (1995),92,1107731
8,The Wizard of Oz (1939),89,874425
9,Alien (1979),94,457186
10,Snow White and the Seven Dwarfs (1937),78,469510
11,The Battle of Algiers (La Battaglia di Algeri)...,95,14267
12,Zootopia (2016),92,98633
13,12 Angry Men (Twelve Angry Men) (1957),97,103672
14,The Maltese Falcon (1941),91,57268
15,Man on Wire (2008),87,29827
16,Jaws (1975),90,942217
17,Spotlight (2015),93,68142
18,La La Land (2016),82,67325
19,Boyhood (2014),81,88478
20,The Adventures of Robin Hood (1938),89,33584
21,It Happened One Night (1934),93,33106
22,The Dark Knight (2008),94,1827436
23,Apocalypse Now (1979),94,284606
24,"The Godfather, Part II (1974)",97,409574
25,Battleship Potemkin (1925),85,18709
26,High Noon (1952),89,25065
27,The Philadelphia Story (1940),93,46810
28,"Nosferatu, a Symphony of Horror (Nosferatu, ei...",87,47463
29,Manchester by the Sea (2016),77,48189
...,...,...,...
70,Toy Story 2 (1999),86,998186
71,Dunkirk (2017),82,53555
72,Repulsion (1965),87,18655
73,The Bride of Frankenstein (1935),87,24471
74,Army of Shadows (L'Armée des ombres) (1969),94,7011
75,Brooklyn (2015),87,45763
76,The Big Sick (2017),90,23391
77,Selma (2015),86,60533
78,All About Eve (1950),94,44564
79,Rear Window (1954),95,149458
80,Pinocchio (1940),72,278682
81,Casablanca (1942),95,355952
82,The Third Man (1949),93,53081
83,L.A. Confidential (1997),94,149772
84,Touch of Evil (1958),92,30867
85,The Babadook (2014),72,37024
86,Singin' in the Rain (1952),95,137643
87,Frankenstein (1931),87,41140
88,Dr. Strangelove Or How I Learned to Stop Worry...,94,208215
89,The Grapes of Wrath (1940),88,23954
90,Bicycle Thieves (Ladri di biciclette) (1949),94,33723
91,The Treasure of the Sierra Madre (1948),93,25627
92,Rashômon (1951),93,47657
93,Citizen Kane (1941),90,157274
94,Hell or High Water (2016),88,37738
95,M (1931),95,35778
96,Metropolis (1927),92,62018
97,The 400 Blows (Les Quatre cents coups) (1959),94,38368
98,The Wages of Fear (1953),95,8536
99,The Jungle Book (2016),86,92856

## Assess

## Clean

#### Define

#### Code

#### Test